@import url('https://fonts.googleapis.com/css2?family=Alata&family=Alatsi&family=Alegreya+SC:ital,wght@0,400;0,700;1,400;1,500;1,700&family=Krona+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Petit+Formal+Script&display=swap');
$ff1: 'Alata', sans-serif;
$ff2: 'Alatsi', sans-serif;
$ff3: 'Alegreya SC', serif;
$ff4: 'Krona One', sans-serif;
$ff5: 'Montserrat', sans-serif;
$ff6: 'Petit Formal Script', cursive;
$ff7: "Times New Roman", Times, serif;